<article>
    <h3>{{ ad.title}}</h3>
    <p>{{ ad.description }}</p>
    <p>{{ad.type}}</p>
    <p>{{ad.category}}</p>
    <div *ngIf="hasOrgPermissions">
        <a [routerLink]="['/main', 'ads', 'edit', ad.id]">Edit</a> 
        <button (click)="onDelete()">Delete</button>
        <a [routerLink]="['/main', 'ads', 'applicants', ad.id]">See Applicants</a> 
    </div>
    <div *ngIf="hasUserPermissions">
        <a [routerLink]="['/main', 'ads', 'edit', ad.id]">Like</a> 
        <a [routerLink]="['/main', 'ads', 'edit', ad.id]">Apply</a> 
    </div>
    
</article>
